@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
button {
    background-color: rebeccapurple;
    color: wheat;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 2px rgb(219, 207, 207);
    font-family: Rounded Georgia, 'Times New Roman', Times, serif;
    transition: transform 0.1s linear;

}
button:focus{
    outline: none;

}
button:active{
    box-shadow: 0px;
    transform: translate(2px, 3px);
}