@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&display=swap");
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
body.dark{
background-color: #1f1f1f;
color: white;

}
h1{
  text-align:center;
}
